<nav id="header">
  <div class="nav-wrapper">
    <div class="container">
      <div id="kafedra-icon" class="material-icons">group_work</div><a href="index.html" class="brand-logo">КАФЕДРА ИВТ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down"> 
        <!-- Dropdown Structure -->
        <!--        -->
        <li><a class='dropdown-button btn' data-activates='dropdown1'>Вход</a></li>
        <li><a href="registration.html">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>