body {
  color: #2A3132; 
}

#kafedra-icon {
  font-size: 8ex;
}

.slider {
  padding-top: 5px;
}

.news-pic {
  margin-top: 50px;
}

/*
  #news-slider {
    margin-top: 20px !important;
  }

  .news-slide {
    bottom: 100px !important;
    color: red !important;
    border-radius: 10px ;
  }
*/

.news-title {
  font-size: 200%;
}

#header {
    background-color: #336B87 !important;
}

#lecturer-carousel {
  top: -9em;
}

.lecturer-photo {
  width: 20vw;
}

#profile-pic {
/*  margin-top: 2em;*/
  width: 7em;
  float: left;
}

.g-margin {
  margin-top: 100px;
}

.discipline-logo {
  color: #26A69A !important;
  font-weight: 600;
  /*margin-left: 1em;*/
  /*margin-right: 2em;*/
}
/*
.card {
    background-color: #eeeeee !important;
}
*/